/**
  * ====================================================================
  * CSS FILE TO STYLE the 'HomeAdmin' Component 
  * ====================================================================
  * @date created: 13th May 2020
  * @authors: Waqas Rehmani
  *
  * This file contains all the CSS classes related to the HomeAdmin 
  * to style the component.
  *
*/

@media all and (max-width: 800px) {
  .HomeAdmin{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
  }
}

.HomeAdmin{
  height: 95vh;
  display: flex;
}

.admin-form {
  /* width: 50vw; */
  min-width: 400px;
  display: flex;
  flex-flow: column;
}
 