/**
  * ====================================================================
  * CSS FILE TO STYLE the 'HomeAdmin' Component 
  * ====================================================================
  * @date created: 13th May 2020
  * @authors: Waqas Rehmani
  *
  * This file contains all the CSS classes related to the HomeAdmin 
  * to style the component.
  *
*/

@media all and (max-width: 800px) {
  .HomeAdmin{
    height: 100vh;
    /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
    flex-flow: row wrap;
    flex-direction: row;
  }
}

#error-message-login {
  display: none;
  background: rgba(240, 240, 240, 0.2);
  border: 1px solid rgba(240, 240, 240, 0.4);
  color: #eee;
  border-radius: 120px;
  flex-flow: column;
  height: 5vh;
  text-align: center;
  padding-top: 2vh;
}

.HomeAdmin{
  height: 95vh;
  /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
}

.admin-form {
  /* width: 50vw; */
  min-width: 400px;
  /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
  flex-flow: column;
}

.Instruction-title{
  /* margin-top: 5em; */
  min-width: 400px;
  /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
  flex-flow: column;
}

.Instruction-contents{
  /* margin-top: 3em; */
  min-width: 400px;
  /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
  flex-flow: column;
}

.Instruction-button-group{
  /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
  flex-direction: row-reverse;
  padding-top: 2vh;
  padding-right: 2vw;
}

