

.dothetest-container {
    /* flexbox */
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;    flex-direction: column;
    height: 95vh;
    
}

.dothetest-submit {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.dothetest-submit h1{
    font-weight: 200;
}

.dothetest-subheader-container {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.dothetest-subheader-container button{
    margin: 0 0 0 1rem;
}

.dothetest-scrollable-container {
    
}