/**
  * ============================================================================
  * CSS STYLING FILE
  * ============================================================================
  * @date created: 16th May 2020
  * @authors: Guang Yang, Jin Chen
  *
*/

.content-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 0 5vw 2rem;
    overflow: auto;
}
