/**
 * ====================================================================
 * CSS FILE TO STYLE the 'ContentPanel' Component
 * ====================================================================
 * @date created: 16th May 2020
 * @authors:Guang Yang
 *
 * This file contains all the CSS classes related to the ContentPanel
 * component to style the component.
 *
 */



.content-container {
    /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
    flex: 3;
    flex-direction: column;
    padding: 0 5vw 2rem;
    overflow: auto;
}
