/**
 * ====================================================================
 * CSS FILE TO STYLE the 'Landing' Component 
 * ====================================================================
 * @date created: 13th May 2020
 * @authors: Waqas Rehmani
 *
 * This file contains all the CSS classes related to the Login screen
 * to style the component.
 *
 */

.landing {
    width: 100vw;
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 3fr 4fr 1fr;
    grid-template-areas:
        ".  .       .       .       ."
        ".  logo    logo    logo    ."
        ".  buttons buttons buttons   ."
        ".  .       .       .       ."

    ;
    grid-gap: 2vh;

}

.landing-logo {
    grid-area: logo;
    /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
    justify-content: center;
    align-self: center;
}

.landing-logo img{
    /* width: 40%; */
    height: 25vh ; 
}

.landing-buttons {
    grid-area: buttons;
    /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
    justify-content: space-evenly;
}

.landing-button {
    width: 25vh;
    height: 25vh;
    background: rgba(255,255,255,0.02);
    /* flexbox */ 
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex:1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* height: 100%; */
    border-radius: 15px;
    color: #eee;
    font-size: 1.8vh;
    font-weight: 100;
    transition: all 0.1s;
}

.landing-button:hover {
    background: rgba(255,255,255,0.05);
    font-size: 2.1vh;
}

.landing-button-parent {
    grid-area: parent;
}

.landing-button-clinician {
    grid-area: clinician;
}

.landing-button-admin {
    grid-area: admin;
}