/**
  * ============================================================================
  * CSS STYLING FILE
  * ============================================================================
  * @date created: 13th May 2020
  * @authors: Waqas Rehmani
  *
*/

.landing {
    width: 100vw;
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 3fr 4fr 1fr;
    grid-template-areas:
        ".  .       .       .       ."
        ".  logo    logo    logo    ."
        ".  buttons buttons buttons   ."
        ".  .       .       .       .";
    grid-gap: 2vh;

}

.landing-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-self: center;
}

.landing-logo img {
    /* width: 40%; */
    height: 25vh;
}

.landing-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
}

.landing-button {
    width: 25vh;
    height: 25vh;
    background: rgba(255, 255, 255, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* height: 100%; */
    border-radius: 15px;
    color: #eee;
    font-size: 1.8vh;
    font-weight: 100;
    transition: all 0.15s;
    border: 1px solid rgba(255, 255, 255, 0.02);
}

.landing-button:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.06);;
    font-size: 2.3vh;
    transform: scale(0.95);
}

.landing-button-parent {
    grid-area: parent;
}

.landing-button-clinician {
    grid-area: clinician;
}

.landing-button-admin {
    grid-area: admin;
}