/**
  * ============================================================================
  * CSS STYLING FILE
  * ============================================================================
  * @date created: 10th May 2020
  * @authors: Waqas Rehmani
  *
*/

.navbar-container {
    width: 96vw;
    height: 5vh;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151641;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar-left {

}

.navbar-left img {
    height: 25px;
}

.navbar-right {

}

.navbar-right button {
    cursor: pointer;
    background: 0;
    padding: 0 5px 0 1rem;
    outline: 0;
    border: 0;
    margin: 0 5px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 200;
}

.navbar-right label {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 200;
}

.navbar-right svg {
    cursor: pointer;
    color: #eee;
    padding: 5px;
    font-size: 2vh;
}