/**
 * ====================================================================
 * CSS FILE TO STYLE the 'Navbar' Component 
 * ====================================================================
 * @date created: 10th May 2020
 * @authors: Waqas Rehmani
 *
 * This file contains all the CSS classes related to the Navbar 
 * component to style the component.
 *
 */

.navbar-container {
    width: 98vw;
    height: 5vh;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151641;
    box-shadow: 0 1px  20px 0 rgba(0,0,0,0.2);

    /* border-bottom: 1px solid #000; */
    
}
.navbar-left {
    
}

.navbar-left img{
    height: 25px;
}

.navbar-right {

}

button {
    background: 0;
    padding: 0;
    outline: 0;
    border: 0;
    margin: 0 5px;

}

button svg {
    cursor: pointer;
    color: #eee;
    padding: 5px;
    font-size: 2vh;
    
}