/**
 * ====================================================================
 * CSS FILE TO STYLE the 'QuestionnaireLIst' Component for the Clinician
 * ====================================================================
 * @date created:   17th May 2020
 * @authors:        Waqas
 *
 * This file contains all the CSS classes related to the ManageQuestionnaires
 * component to style the component.
 *
 */

 .questionnaire-list-container {

 }

.questionnaire-list-container h1 {
    font-weight: 200;
    font-family: Raleway;

}

.questionnaire-list-item {
    margin: auto auto 1rem auto;
    padding: 20px;
    border-radius: 10px;
    min-width: 400px;
    border: #B6B7C2;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(100,100,100,0.1);
    position: relative;
    transition: all 0.2s;
}

.questionnaire-list-item-selectable {
    cursor: pointer;
}
.questionnaire-list-item-selectable:hover{
    background-color: rgba(100,100,100,0.2);
    
}

.Add-btn{
    position: relative;
    float: right;
    margin-top: 10px;
}

.q-name{
    font-size: 18px;
    font-family: Raleway;
    width: fit-content;
    display:flex;
    margin-bottom:4px
}

.q-description{
    font-size: 12px;
    font-family: Raleway;
    width: fit-content;
    display:flex;
    color: #888686;
    margin-bottom:4px
}

.date{
    position: absolute;
    top:10px;
    right:10px;
    
}

.edit-btn{
    margin-right: 10px;
}

.btns-container{
    position: absolute;
    right:10px;
    top:40px;
    height: fit-content;
}