/**
 * ====================================================================
 * CSS FILE TO STYLE the 'Sidebar' Component
 * ====================================================================
 * @date created: 14th May 2020
 * @authors: Jin Chen, Guang Yang
 *
 * This file contains all the CSS classes related to the Sidebar
 * component to style the component.
 *
 */

 .sidebar-container {
    width: 16vw;
    height: 95vh;
    /*padding: 0 1vw;*/
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #101132;
    /* border-bottom: 1px solid #000; */
}

.sidebar-questionnaires,.sidebar-do-the-test,.sidebar-instructions {
    width: 16vw;
    height: 80px;
    background-color: #0E0F2A;
    text-align: center;
    font-family: Raleway;
    line-height: 80px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.active{
    background-color: #AF8BC0;
    cursor: pointer;
}
